
body {
  background-color: #aa865b;
}

h1{
	color: darkviolet;
	font-size: 250%;
}
p {
  color: BLACK;
  width: 100%;
  border: 1px solid black;
  font-size: 250%;
}

html{
   margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}